@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

.title {
    font-size: 1.5em;
    font-weight: 700;
}

.columna {
    background-color: #ffff;
    padding: 2.5em;
    border-radius: 3px;
}
.col input{
    margin-bottom: 0.7em;
    display: block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.col label {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.5em;
    color: #f59b90;
    font-weight: 600;
}

.form-control {
    transition: box-shadow 0.3s;
}
.form-control:focus{
    border: none;
    box-shadow: none;
    box-shadow: 0 0 0 0.25rem #fa92868e; /* Establece el box-shadow inicial */
    animation: glow 1.5s infinite;
}

.button {
    width: 100%;
    background-color: #ec5544;
    transition: transform 0.3s, background-color 0.3s;
    border: none;
    padding: 0.4em;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 0.5em;
}
.button:hover {
    background-color: #f2796b;
    transform: scale(1.02);
}

.person {
    font-size: 3.5em;
    color: #f2796b;
}
